---
siteTitle: massmann.me
title: Welcome
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal site for the Massmann family.">
    <title>{{ title }} &mdash; {{ siteTitle }}</title>
    <style>
      html, body {
        margin: 0;
        height: 100%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        color: #333;
      }
      #main {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h1 {
        font-size: 20rem;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <main id="main">
      {{ content | safe }}
    </main>
  </body>
</html>
